body{
    background-color: lightblue;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead th {
    border: 1px solid #dddddd; /* Add this line */
    background-color: #f2f2f2;
}

h1{
    color: crimson;
}

h2{
    color: darkslategrey;
}

.rectangle{
    background-color: deepskyblue;
    text-align: center;
    border: 6px outset black;
    width: 500px;
}